[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
torch = "*"
matplotlib = "*"
scikit-learn = "*"
pillow = "*"
torchvision = "*"
backpack-for-pytorch = "*"
pyyaml = "*"
pandas = "*"
seaborn = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.12"
